:root {
    --basefont: 16px;
}

* { box-sizing: border-box;}

body {
    background-color: #222;
    color: #fff;
    font-size: var(--basefont);
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 75px);
    width: 100%;
    overflow:hidden;
    transition: width 0.25s;
    &.showpanels {
        width: 0;
        @media screen and (min-width: 48em) {
            width: 50%;
        }
        @media screen and (min-width: 70em) {
            width: 70%;
        }
    }
}

aside {
    position: absolute;
    background: #222;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: left 0.25s;
    &.showpanels {
        left: 0;
        @media screen and (min-width: 48em) {
            width: 50%;
        }
        @media screen and (min-width: 70em) {
            width: 30%;
        }
    }
}




