
.datafields {
    position: absolute;
    width: 100%;
    height: 50%;
    border: 1px solid yellow;
    &.upper {
        top: 0;
    }
    &.lower {
        bottom: 75px;
    }
}

.grid-stack-item {
    z-index: 10;
    .grid-stack-item-content { overflow-y: hidden !important;}
}


.datafield {
    user-select: none;
    width: 100%;
    height: 100%;
    outline: 1px solid grey;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5rem;

    .label {
        width: 100%;
        font-size: 0.7em;
        text-align: center;
    }
    .value {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        align-items: baseline;
        justify-content: center;
    }
    .number {
        font-size: 50px;
        line-height: 50px;
    }

    .unit {
        font-size: 0.7em;
        vertical-align: baseline;
    }

    &.minimode {
        flex-direction: row;
        justify-content: space-evenly;
        span {
            font-size: 30px;
            line-height: 30px;
            width: auto;
            padding: 0.5rem;
        }
        .value { padding: 0;}
    }
}

.editmode .grid-stack-item {
    outline: 2px solid lightblue;
}

#datafieldeditor {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    overflow: auto;
    background: #222;
    padding: 2rem;
    z-index: 100;
    @media screen and (max-width: 60rem) {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        padding: 1rem;
    }

    font-size: 1.2em;

    .entry {
        display: flex;
        align-items: baseline;
        margin-bottom: 1em;
        border-bottom: 1px solid #666;
        padding-bottom: 0.5em;
        @media screen and (max-width: 60rem) {
            flex-direction: column;
            
        }
    }

    label {
        width: 12rem;
        &.smalllabel {
            width: auto;
            margin: 0 1em 0 0;
        }
    }

    select { 
        font-size: 1em;  
        display: block;
        background: #444;
        padding: 0.5em;
        color: #fff;
    }

    input[type='color'], input[type='range'] {
        width: 12rem;
        height: 3em;
        margin-right: 1em;
    }

    input[type='text'] {
        height: 3em;
        width: 5em;
    }

    input[type='range'] { margin: 1.5em 0;}
}

.buttons.edit .editmodeonly {
    display: none;
}

#trash {
    border: 2px solid #666;
    line-height: 50px;
    padding: 0 1em;
    height: 54px;
    color: #ccc;
    font-size: 1.2em;
}


.editmode {
    .buttons {
        display: none;
        &.edit {
            display: flex;
            width: 100%;
            justify-content: center;

            .editmodeonly {
                display: block;
            }
        }
    }

    #pagemenu, #mapmenu, .mapbuttons.active, .panels.active { display: none; }
}
